
*{
  margin: 0;
  padding: 0;
}
.card-section {
  max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    -webkit-animation: AvailableMeals_meals-appear__ONwLi 1s ease-out forwards;
    animation: AvailableMeals_meals-appear__ONwLi 1s ease-out forwards;
    animation-name: cardAnime;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  border-radius: 14px;
  background-color: #fff;
}
.card__list {
  list-style: none;
}
.card__item {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.card__title {
  font-size: 19px;
  margin-bottom: 4px;
  
}
.card__product {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  /* margin-bottom: 4px; */
}
.card__price {
  margin-top: 0.25rem;
  font-weight: 700;
  color: #ad5502;
  font-size: 1.25rem;
}
/* .card__info {
  display: flex;
  flex-direction: column;
} */
.card__infos {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.card__amound {
  font-size: 17px;
  margin-right: 16px;
  font-weight: 700;
}
.amound-input {
    display: inline-block;
    width: 48px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: inherit;
    /* padding-left: 8px; */
    padding: 2px 0 2px 8px;
}
.card__btn {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: #fff;
  padding: 4px 32px;
  border-radius: 20px;
  font-weight: 700;
  display: flex;
  margin-left: 14px;
}
.card__btn:hover {
  background-color: #641e03;
  border-color: #641e03;
}

@keyframes cardAnime {
  from {
    opacity: 0;
    transform: translateY(48px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}













